<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" class="app">
<head th:replace="common/links::head('云音乐')"></head>
<body ondragstart="return false">
  <section class="vbox">

    <section>
      <section class="hbox stretch">

        <section id="content">
          <section class="hbox stretch">
            <section>
              <section class="vbox">


                  <section class="scrollable">
                      <div class="container">
                          <div class="row">
                              <div class="col-md-5">
                                  <img class="img-full" src="/images/musicLogo.png" alt="...">
                              </div>


                              <div class="col-md-7">
                                  <h2><small><i class="fa icon-music-tone-alt text-danger"></i></small>&nbsp;&nbsp; Yesterday</h2>
                                  <p>歌手：Anastasia Kushnir</p>


                                  <a class="btn btn-default">
                                  <span class="text">
                                    <i class="icon-control-play"></i> 播放
                                  </span>
                                  </a>

                                  <a class="btn btn-default">
                                  <span class="text">
                                    <i class="icon-cloud-download"></i> 下载
                                  </span>
                                  </a>

                                  <a class="btn btn-default">
                                  <span class="text">
                                    <i class="fa fa-thumbs-up text-success"></i> 25
                                  </span>
                                  </a>


                                  <a class="btn btn-default">
                                  <span class="text">
                                    <i class="fa fa-thumbs-down text-danger"></i> 10
                                  </span>
                                  </a>

                                  <!--歌词-->
                                  <div style="margin-top: 40px;">
                                      <div>
                                          Oh ohh noo ohh ohh<br/>
                                          Gave you the benefit of the doubt<br/>
                                          给你追问的机会<br/>
                                          Till you showed me what your all about<br/>
                                          直到你向我表明你的质疑<br/>
                                          True colours came out<br/>
                                          展示你真实的一面<br/>
                                          Oh ohh<br/><br/>
                                          And your words couldn't hide the scent<br/>
                                          你的话里的语气隐藏不住<br/>
                                      </div>

                                      <div style="margin-top: 10px;">
                                          <a href="javascript:;">展开 <i class="fa fa-angle-down"></i></a>

                                      </div>
                                  </div>
                              </div>
                          </div>

                          <section class="panel panel-default pos-rlt clearfix">
                              <header class="panel-heading">
                                  <ul class="nav nav-pills pull-right">
                                      <li>
                                          <a href="#" class="panel-toggle text-muted">下拉实现</a>
                                      </li>
                                  </ul>
                                  Dropdown
                              </header>
                              <div class="panel-body clearfix">
                                  neirong
                              </div>
                          </section>


                          <div class="row" style="padding-left: 50px;margin-bottom: 80px;">
                              <div class="col-md-12" style="padding: 0 30px;">
                                  <h3 style="color: black;">评论</h3>
                                  <div style="background-color: red;width: 100%;height: 2px;margin-bottom: 20px;"></div>

                                  <div class="row">
                                      <div class="col-md-1">
                                          <img src="/images/m0.jpg" alt="..." style="width: 70px;height: 70px;">
                                      </div>
                                      <div class="col-md-11">
                                          <textarea class="form-control" rows="3" style="resize:none;"></textarea>
                                          <button class="btn btn-primary" style="float: right;margin-top: 10px;">评论</button>
                                      </div>
                                  </div>

                                  <p style="color: black;">精彩评论</p>
                                  <div style="background-color: gray;width: 100%;height: 2px;margin-bottom: 20px;"></div>

                                  <div class="row">
                                      <div class="col-md-1">
                                          <img src="/images/m0.jpg" alt="..." style="width: 70px;height: 70px;">
                                      </div>
                                      <div class="col-md-11">
                                          <p>
                                              <a href="#">如花一般绽放丶</a>：
                                              也许你现在仍然是一个人吃饭，一个人看电影，一个人发呆，一个人睡觉，一个人等天明。
                                              然而你却能一个人吃饭，一个人看电影，一个人发呆，一个人睡觉，一个人等天明。很多人离开另外一个人，
                                              就没有自己。而你却能够一个人，等天明。你的孤独，虽败犹荣。
                                          </p>
                                      </div>
                                  </div>
                                  <div style="background-color: gray;width: 100%;height: 1px;margin-bottom: 15px;margin-top: 15px;"></div>







                              </div>
                          </div>
                      </div>





                      <!--<div class="m-t-n-xxs item pos-rlt">
                          <div class="bottom gd bg-info wrapper-lg">
                              <span class="pull-right text-sm">101,400 <br>Followers</span>
                              <span class="h2 font-thin">Soph Ashe</span>
                          </div>
                          <img class="img-full" src="/images/m42.jpg" alt="...">
                      </div>
                      <ul class="list-group list-group-lg no-radius no-border no-bg m-t-n-xxs m-b-none auto">


                          <li class="list-group-item">
                              <div class="pull-right m-l">
                                  <a href="#" class="m-r-sm"><i class="icon-cloud-download"></i></a>
                                  <a href="#" class="m-r-sm"><i class="icon-plus"></i></a>
                                  <a href="#"><i class="icon-close"></i></a>
                              </div>
                              <a href="#" class="jp-play-me m-r-sm pull-left">
                                  <i class="icon-control-play text"></i>
                                  <i class="icon-control-pause text-active"></i>
                              </a>
                              <div class="clear text-ellipsis">
                                  <span>E.T.M</span>
                                  <span class="text-muted"> &#45;&#45; 04:35</span>
                              </div>
                          </li>



                      </ul>-->
                  </section>

              </section>
            </section>
          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>
      </section>
    </section>    
  </section>
</body>
</html>