<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" class="app">
<head th:replace="common/links::head('发现好音乐')"></head>
<body class="">
  <section class="vbox">
    <header th:replace="common/header::header" ></header>

    <section>
      <section class="hbox stretch">
        <aside th:replace="common/aside::aside"></aside>



        <section id="content">
          <section class="hbox stretch">
            <section>
              <section class="vbox">



                <!--iframe化内容页-->
                <section>
                    <iframe id="mainUI" style="width: 100%;height: 100%;" frameborder="no"></iframe>
                </section>


                <!--music start-->
                <!--<iframe id="UI" style="width: 100%;height: 100%;" frameborder="no" marginwidth="0" marginheight="0"></iframe>-->
                <div style="width: 100%;position: fixed;bottom: 0;height: 60px;">
                    <iframe id="musicUI" style="width: 95%;" frameborder="no"></iframe>
                </div>
                <!--music end-->
              </section>
            </section>

          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>
      </section>
    </section>    
  </section>
<script>
  $(function () {
      //加载首页时初始化音乐播放器
      $('#musicUI').attr('src','/music');
      //加载首页时初始化内容页
      $('#mainUI').attr('src','/main');
  });

  //点击播放音乐
  function playMusic(id) {
      $.ajax({
          type: "POST",
          url: "/music/playMusic",
          data: {'id':id},
          success: function(data){
              //parent.changeParentUI(data,'/#/music/playMusic'+data);
              parent.changeMusic('/music');
              //跳转到歌曲详情页面
              parent.changeMainUI('/music/musicInfo/'+id, data);
          }
      });
  }

  function changeMusic(url) {
      $('#musicUI').attr('src',url);
  }

  //通过url改变父窗口内容
  function changeMainUI(url,title) {
      $('#mainUI').attr('src',url);
      document.title = title;
      window.history.pushState(null, null, '/#'+url);
  }

//  //通过url改变父窗口内容
//  function changeParentUI(title,state) {
//
//      document.title = title;
//      window.history.pushState(null, null, state);
//  }

  //搜索歌曲功能[
  function searchMusic() {
      var searchText = $("#searchText").val();
      if ("" !== searchText) {
          //发送ajax，进行异步搜索
          $.ajax({
              type:'POST',
              url:'/music/searchMusic',
              data:{'searchText':searchText},
              success:function (result) {
                  if (result) {
                      //页面跳转
                      changeMainUI("/searchResult","搜索结果");
                  } else {
                      alert("没有搜索到【 "+searchText+" 】相关的歌曲~");
                  }
              }
          });
      } else {
          alert("请输入搜索内容~");
      }

      return false;
  }
  
  
  function downloadMessage() {
      alert("只有登陆后才可以下载歌曲哦~");
  }
  
  function myIndex() {
      $('#mainUI').attr('src',"/main");
      document.title = "发现好音乐";
      window.history.pushState(null, null, '/#/index');
  }


</script>
</body>
</html>